<div class="popupMode">
    <div class="popupWindow">
        <div class="popupHeader d-flex justify-content-center">
            <h1 class="d-flex justify-content-center">Podaj lokalizację</h1>
            @if (coordinates){
                <button mat-mini-fab (click)="closePopup.emit()">&#10005;</button>
            }
        </div>
        <form [formGroup]="localizationForm" class="d-flex">
            <label for="latitude">
                <h3>Szerokość geograficzna:</h3>
                <input type="number" formControlName="latitude" name="latitude" [max]="180" [min]="-180">
            </label>
            <label for="longitude"> 
                <h3>Długość geograficzna:</h3>
                <input type="number" formControlName="longitude" name="longitude" [max]="180" [min]="-180">
            </label>
        </form>
        <app-map class="map" [coordinates]="coordinates" (coordinatesSelected)="onCoordinatesSelected($event)"></app-map>
        <div class="d-flex justify-content-center"><button mat-stroked-button (click)="saveForm()">Zapisz</button></div>
    </div>
</div>
