<div class="popupMode">
    <div class="popupWindow">
        <div class="popupHeader d-flex justify-content-center">
            <h1>Podaj lokalizację</h1>
        </div>
        <div></div>
        <form>
            <label>
                <h3>Szerokość geograficzna:</h3>
                <input type="number">
            </label>
            <label>
                <h3>Długość geograficzna:</h3>
                <input type="number">
            </label>
        </form>
        <app-map></app-map>
    </div>
</div>
