
* {
    color: white !important;
}
.weather-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 92%;

    > .weather-card {
        background: linear-gradient(135deg, #690299 0%,#8601c2 100%);
        aspect-ratio: 1 / 1.5;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        transition: transform 0.1s ease;
        >.weather-card-header {
            width: 100%;
            > div {    
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                align-items: center;
                max-height: 40%;
                >mat-card-subtitle {
                    width: 100%;
                    >div {
                        flex-grow: 1;
                        user-select: none;
                        -webkit-user-select: none; 
                        -moz-user-select: none;
                        -ms-user-select: none;
                        font-size:large;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            >.headerIcon {
                user-select: none;
                -webkit-user-select: none; 
                -moz-user-select: none;
                -ms-user-select: none;
                font-size: xx-large;
                &:hover {
                    cursor: pointer;
                }
            }
            
            sub {
                font-size: xx-small !important;
            }
        }

        .weather-icon {
            margin: 5px;
            padding: 0 0 10px 0;
        }
        .weather-details {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5px;
            >div {
                padding: 5px;
                border-radius: 10px;
                background: rgba(0, 0, 0, 0.1);
                >div {
                    text-align: center;
                }
            }
        }
        
        .moreButton {
            margin-top: 20px !important;
        }
    }

}
