<div class="background">
    @if (location) {
        <div class="buttons">
            <a href="https://www.google.pl/maps/place/{{location.latitude}}N+{{location.longitude}}E" target="_blank">
                <button mat-fab aria-label="Show on map button"  matTooltip="Show on map" >
                    <mat-icon>track_changes</mat-icon>
                </button>
            </a>
            <button mat-fab aria-label="Enter location button" matTooltip="Enter location">
                <mat-icon>search</mat-icon>
            </button>
        </div>
        <app-weather-card ></app-weather-card>
    }
</div>
