.background {
    background: linear-gradient(135deg,  #500942 0%, #3D2A69 100%);
    height: 100vh;
    > .buttons {
        button {
            margin: 10px 15px;
            background: #8601c2;
        }
    }
}

.mdc-fab {
    width: 48px;
    height: 48px;

}